.iris-container{position:relative;}
.iris-picker .ui-widget-content {background:transparent none;}
.iris-picker .ui-slider-vertical {width: auto; height: auto;}
.iris-picker .ui-slider-vertical .ui-slider-handle {margin-bottom:0;}
.iris-color-label .ss-ui-button{padding:7px;margin-right:0;border-right-width:0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.iris-color-label .ss-ui-button .ui-button-text{padding:0;}
.color.field .color-picker{width:auto;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}