/** =========================================
 * Style Field
 ===========================================*/

/** -----------------------------------------
 * Variables
 -------------------------------------------*/

$inputHeight: 40px;
$inputWidth: 40px;
$gutter: 5px;
$size-label: 120px;
$labelWidth: 184px;
$sizeContainer: 350px;

/** -----------------------------------------
 * Styling
 -------------------------------------------*/

.field.style{
    > label{
        display: none;
    }
    .middleColumn{
        margin: 0;
        .middleColumn {
            margin-left: 184px;
        }
    }
    .table{
        width: 100%;
        tr{
            > td,
            > th{
                padding-left: 0;
            }
        }
        td,
        th {
            text-shadow: 1px 1px 0 white;
            padding: 0 15px;
            vertical-align: top;
        }
        th{
            font-size: 1.1em;
            font-weight: bold;
            padding-bottom: 15px;
        }
    }
    .color-picker{
        width: auto;
    }
    .text{
        margin-bottom: 15px;
    }
    .label{
        min-width: 80px;
        display: inline-block;
        font-weight: bold;
        text-shadow: 1px 1px 0 white;
    }
    .field.size{
        position: relative;
        .size-label{
            position: absolute;
            .margin,
            .padding {
                font-size: 10px;
                text-indent: 30px;
                display: block;
                height: $size-label;
                width: $size-label;
                &:before {
                    border-radius: 4px;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: $size-label - 10px;
                    width: $size-label - 10px;
                    border: 1px dashed rgba(0,0,0,0.3);
                }
            }
            .padding{
                position: absolute;
                left: 20px;
                top: 20px;
                text-indent: 10px;
                height: $size-label - 40px;
                width: $size-label - 40px;
                &:before {
                    height: $size-label - 50px;
                    width: $size-label - 50px;
                }
            }
        }
    }
    .size-container {
        box-sizing: border-box;
        margin-left: $labelWidth;
        margin-bottom: 15px;
        width: $sizeContainer;
        height: $sizeContainer;
        border: 1px dashed rgba(0,0,0,0.2);
        padding: 20px;
        position: absolute;
        border-radius: 4px;
        .label {
            position: absolute;
            margin: 0;
            padding: 0;
            top: $gutter;
            left: $gutter;
            font-weight: normal;
            font-size: 10px;
            text-shadow: none;
            &.border {
                left: ($inputWidth) + ($gutter * 3);
                top: ($inputHeight) + ($gutter * 3);
            }
            &.padding  {
                left: ($inputWidth * 2) + ($gutter * 5);
                top: ($inputHeight * 2) + ($gutter * 5);
            }
        }
        .inner {
            background: rgba(0,0,0,0.02);
            position: absolute;
            top: ($inputHeight) + ($gutter * 2);
            right: ($inputWidth) + ($gutter * 2);
            bottom: ($inputHeight) + ($gutter * 2);
            left: ($inputWidth) + ($gutter * 2);
            border-radius: 4px;
            box-shadow: inset 0 1px 5px rgba(0,0,0,0.1);
        }
        input.text {
            font-size: 10px;
            margin-bottom: 0;
            box-sizing: border-box;
            padding: 5px;
            width: $inputWidth;
            height: $inputHeight;
            position: absolute;
            text-align: center;
            &.marginTop,
            &.borderTop,
            &.paddingTop {
                top: $gutter;
                left: 50%;
                margin-left: -($inputWidth / 2);
            }
            &.marginRight,
            &.borderRight,
            &.paddingRight {
                top: 50%;
                right: $gutter;
                margin-top: -($inputWidth / 2);
            }
            &.marginBottom,
            &.borderBottom,
            &.paddingBottom {
                bottom: $gutter;
                left: 50%;
                margin-left: -($inputWidth / 2);
            }
            &.marginLeft,
            &.borderLeft,
            &.paddingLeft {
                top: 50%;
                left: $gutter;
                margin-top: -($inputWidth / 2);
            }
            // Border
            &.borderTop {
                top: ($gutter * 3) + $inputHeight;
            }
            &.borderRight {
                right: ($gutter * 3) + $inputWidth;
            }
            &.borderBottom {
                bottom: ($gutter * 3) + $inputHeight;
            }
            &.borderLeft {
                left: ($gutter * 3) + $inputWidth;
            }
            // Padding
            &.paddingTop {
                top: ($gutter * 5) + ($inputHeight * 2);
            }
            &.paddingRight {
                right: ($gutter * 5) + ($inputWidth * 2);
            }
            &.paddingBottom {
                bottom: ($gutter * 5) + ($inputHeight * 2);
            }
            &.paddingLeft {
                left: ($gutter * 5) + ($inputWidth * 2);
            }
        }
    }
    .color-container {
        min-width: 360px;
        margin-left: $labelWidth + $sizeContainer + 30px;
        > h4:first-child{
            margin-top: 0;
        }
    }
}