/** -----------------------------------------
 * Border Radii
 -------------------------------------------*/

$border-radius-base:    0px !default;
$border-radius-large:   0px !default;
$border-radius-small:   3px !default;