/** =========================================
 * Container
 ===========================================*/

$container-tablet:              (720px + $grid-gutter-width) !default;
$container-sm:                  $container-tablet !default;
$container-desktop:             (940px + $grid-gutter-width) !default;
$container-md:                  $container-desktop !default;
$container-large-desktop:       (1140px + $grid-gutter-width) !default;
$container-lg:                  $container-large-desktop !default;
$container-extra-large-desktop: ((1540px + $grid-gutter-width)) !default;
$container-xl:                  $container-extra-large-desktop !default;