/** =========================================
 * Globals
 ===========================================*/

$site-xl:           false !default;
$has-popout-menu:   true !default;
$hover-opacity:     0.4 !default;