/*---------------------------------------------*\
    Alerts
\*---------------------------------------------*/

@mixin alert-variant($background, $border, $text-color) {
    display: block;
    padding: $gap-md;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin: 0 0 $gap-md 0;
    background-color: $background;
    border: 1px solid $border;
    color: $text-color;
    @media(min-width: $screen-sm-min) {
        margin: 0 0 $gap-lg 0;
    }
    a {
        text-decoration: underline
    }
    p{
        &:last-child{
            margin-bottom: 0;
        }
    }
    hr {
        border-top-color: shade($border, 5);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        color: $text-color;
    }
    .alert-link {
        color: shade($text-color, 10);
    }
}