/** =========================================
 * Buttons
 ===========================================*/

/** -----------------------------------------
 * Links
 -------------------------------------------*/

@mixin button-link($color) {
    color: $color;
    &:hover,
    &:active,
    &:focus {
        color: shade($color, 10);
    }
}

/** -----------------------------------------
 * Bordered
 -------------------------------------------*/

@mixin button-bordered($color) {
    border-color: $color;
    color: $color;
    &:hover,
    &:active,
    &:focus {
        color: $color;
        border-color: $color;
    }
}