/** =========================================
 * Loops
 * TODO: Use @extends when sass supports extending #{&}
 ===========================================*/

@mixin loop() {
    &__item {
        @include margin-lg-bottom;
        @include make-sm-column(12);
        &--page {
            padding: 0;
            @include float-none;
        }
        &--last,
        /** check against &.last in case the item is both first, and last. */
        &.last {
            @include margin-none;
        }
        &__image {
            > a {
                display: block;
            }
            &__caption {
                @include margin;
            }
        }
        &__heading {
            @include margin;
        }
        &__summary,
        &__content {
            @include margin;
            line-height: $line-height-large;
            @media(min-width: $screen-sm-min) {
                line-height: $line-height-base;
            }
        }
        &__actions {
            @include margin-top;
        }
    }
}