/*======================================================================*\
    Sizing
\*======================================================================*/

/*-------------------------------------------------------*\
    Margin
\*-------------------------------------------------------*/

@mixin margin($xs: $gap-md, $sm: $gap-lg) {
    margin: $xs 0;
    @media (min-width: $screen-sm-min) {
        margin: $sm 0;
    }
}

@mixin margin-none() {
    @include margin(0, 0);
}

@mixin margin-sm() {
    @include margin($gap-sm, $gap-md);
}

@mixin margin-default() {
    @include margin;
}

@mixin margin-lg() {
    @include margin($gap-lg, $gap-xl);
}

/*-------------------------------------------------------*\
    Padding
\*-------------------------------------------------------*/

@mixin padding($xs: $gap-md, $sm: $gap-lg) {
    padding: $xs 0;
    @media (min-width: $screen-sm-min) {
        padding: $sm 0;
    }
}

@mixin padding-none() {
    @include padding(0, 0);
}

@mixin padding-sm() {
    @include padding($gap-sm, $gap-md);
}

@mixin padding-default() {
    @include padding;
}

@mixin padding-lg() {
    @include padding($gap-lg, $gap-xl);
}