/*---------------------------------------------*\
    Buttons
\*---------------------------------------------*/

%btn-default {
    height: auto;
    border-radius: 2px;
    border-width: 0;
    box-shadow: none;
    background: transparent none;
    transition: .1s linear box-shadow, .1s linear background-color;
    &:hover {
        border-width: 0;
        box-shadow: 0 2px 3px rgba(0,0,0,0.25);
    }
    &:hover,
    &:active,
    &:focus {
        background: $gray-lighter;
    }
    &:active,
    &:focus,
    &.ui-state-focus,
    &.ui-state-active {
        border-width: 0;
        outline: 0;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
    }
    &.ui-state-disabled {
        box-shadow: none;
    }
}
%btn-primary {
    background: $brand-primary;
    color: $btn-primary-color;
    &:hover,
    &:active,
    &:focus {
        background: darken($brand-primary, 4);
    }
}
.cms {
    .cms-content-batchactions .view-mode-batchactions-wrapper,
    .ss-ui-button {
        @extend %btn-default;
        padding: $button-padding;
        // box shadows
        &.ss-ui-action-constructive {
            &:hover {
                border-width: 0;
            }
            &:active,
            &:focus,
            &.ui-state-focus,
            &.ui-state-active {
                border-width: 0;
                box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.25);
            }
        }
        &.ss-ui-action-destructive {
            background: transparent none;
            .ui-button-text {
                margin-left: 0 !important;
            }
        }
        // button types
        &.ss-ui-button-small {
            padding: 0.2em 0.5em;
            line-height: 1em;
        }
        &.ss-ui-action-constructive {
            @extend %btn-primary;
        }
        .ui-icon {
            display: none;
        }
        label,
        .ui-button-text {
            font-size: 11px;
            text-transform: uppercase;
            font-weight: 500;
            text-shadow: none;
            margin: 0;
            padding: 0;
        }
    }
    .cms-content-controls {
        .ss-ui-button {
            .ui-icon {
                display: inline-block;
            }
        }
    }
}

//Default Buttons
.cms {
    .preview-holder .ss-ui-button {
        @extend %btn-default;
    }
}

/*---------------------------------------------*\
    Specific Buttons
\*---------------------------------------------*/

.cms .cms-content-batchactions .view-mode-batchactions-wrapper {
    font-size: 11px;
    padding: $button-padding;
    height: auto;
    #view-mode-batchactions {
        margin-top: 0;
        margin-bottom: 0;
    }
}

//Dataobject Save
