/*---------------------------------------------*\
    Grid Fields
\*---------------------------------------------*/

.cms {
    .ss-gridfield {
        margin: 0 (-$content-gutter) $gap-lg (-$content-gutter);
        > .ss-gridfield-buttonrow-before {
            margin: 0 ($content-gutter) 0 ($content-gutter);
            .action.ss-ui-button {
                margin-bottom: $content-gutter;
            }
            // Link existing
            #action_gridfield_relationadd {
                .ui-icon {
                    display: none;
                }
            }
        }
        .ss-gridfield-table {
            .ss-gridfield-items {

            }
            .ui-button {
                box-shadow: none;
                .ui-icon {
                    display: block;
                }
            }
            .ui-button-text-icon-primary,
            .ui-button-text-icons {
                .ui-button-text {
                    padding: .4em 1em .4em 2.1em;
                }
            }
            .pagination-records-number {
                color: $gray-darker;
                text-shadow: none;
            }
            // Table
            thead {
                tr {
                    &:first-child {
                        th:last-child {
                            border-radius: 0;
                        }
                    }
                    &.title {
                        th{
                            padding: $gap-md $content-gutter;
                            border-width: 0;
                            background: $gray-lighter;
                            border-top: 1px solid $gray-light;
                            box-shadow: 0 3px 5px rgba(0,0,0,0.07);
                            h2 {
                                margin: 0;
                                color: $gray-darker;
                                text-shadow: none;
                            }
                        }
                    }
                    th {
                        // SortableGridField
                        &.extra {
                            padding: $gap-sm $content-gutter;
                            border-right-width: 0;
                            background: $brand-default;
                            color: $brand-default-color;
                            font-weight: normal;
                            input[type="checkbox"] {
                                margin: 0 $gap-sm 0 0;
                            }
                        }
                        // Sorting
                        &.main {
                            padding: 0;
                            background: $brand-default;
                            color: $gray-darker;
                            text-shadow: none;
                            border-color: $gray-light;
                            border-left-width: 0;
                            span {
                                padding: $gap-sm;
                            }
                            &:first-child {
                                border-left-width: 0;
                                span {
                                    padding-left: $content-gutter;
                                }
                            }
                            &:last-child {
                                border-right-width: 0;
                                span {
                                    padding-right: $content-gutter;
                                }
                            }
                        }
                    }
                }
            }
            tr {
                &.even {
                    background: $brand-default;
                }
                &:first-child {
                    td {
                        border-top-width: 0;
                    }
                }
                &.ss-gridfield-no-items {
                    &:hover {
                        background: $brand-default !important;
                    }
                }
                &:hover {
                    background: $gray-lighter !important; // override an !important tag.
                }
                td {
                    padding: $gap-sm $gap-sm;
                    border-top: 1px solid $gray-light;
                    &:first-child {
                        border-left-width: 0;
                        padding-left: $content-gutter;
                    }
                    &:last-child {
                        border-right-width: 0;
                        padding-right: $content-gutter;
                    }
                }
                th {
                    button.ss-gridfield-sort {
                        span {
                            color: $gray-darker;
                            text-transform: capitalize;
                            text-shadow: none;
                            font-size: 12px;
                        }
                        &:hover {
                            span {
                                color: $gray-darker;
                            }
                        }
                    }
                    .ss-gridfield-button-filter {
                        background-position: -17px -38px;
                    }
                }
                // Footer
                .bottom-all {
                    border-top: 1px solid $gray-light !important;
                    background: $brand-default;
                    color: $gray-darker;
                    border-radius: 0;
                    .pagination-records-number {
                        color: $gray-darker;
                        text-shadow: none;
                    }
                }
            }
        }
    }
}