/** =========================================
 * Close
 ===========================================*/

$close-font-weight: bold !default;
$close-color: $font-color-base !default;
$close-text-shadow: none !default;
