/** =========================================
 * Forms
 ===========================================*/

$cursor-disabled: not-allowed !default;

$input-padding-x: .75rem !default;
$input-padding-y: .375rem !default;
$input-padding-x-sm: .75rem !default;
$input-padding-y-sm: .275rem !default;
$input-padding-x-lg: 1.25rem !default;
$input-padding-y-lg: .75rem !default;
