/*======================================================================*\
    Forms
\*======================================================================*/

$form-active-color: #2a9af2;

.cms {
    .cms-content {
        .field {
            box-shadow: none;
            border-width: 0;
            label {
                &.left {
                    text-shadow: none;
                    color: $gray;
                    font-weight: 400;
                }
                &.right {
                    margin-top: $gap-sm;
                    color: $gray;
                    font-size: 11px;
                    font-style: normal;
                }
            }
            input.text,
            textarea,
            .TreeDropdownField {
                color: $gray;
                padding: $gap-sm 0 ($gap-sm + 1px) 0;
                background: transparent;
                border-radius: 0;
                border-width: 0;
                border-bottom: 1px solid $gray-light;
                font-size: 16px;
                transition: .1s linear color, .1s linear border-color;
                &:focus {
                    box-shadow: none;
                    color: $gray-darker;
                    border-color: $form-active-color;
                    border-bottom-width: 2px;
                    padding-bottom: $gap-sm;
                }
                &:valid {
                    color: $gray-darker;
                }
            }
            &.checkbox {
                label {
                    font-size: 12px;
                    transition: .1s linear color;
                }
                input[type="checkbox"]:checked + label {
                    color: $gray-darker;
                }
            }
        }
        .ss-uploadfield {
            .middleColumn {
                background: $brand-default;
                border-radius: 4px;
                box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
                border-color: $gray-light;
                .ss-uploadfield-item {
                    border-color: $gray-light;
                    &.ss-uploadfield-addfile {
                        border-color: $gray-light;
                    }
                }
            }
        }
        /**
         * Link existing button
         */
        .add-existing-autocompleter {
            input.text {
                font-size: 11px;
            }
        }
    }
}