$screen-xl: 1600px !default;
$screen-xl-min: $screen-xl !default;
$screen-xl-max: ($screen-xl-min - 1) !default;

$container-extra-large-desktop: ((1540px + $grid-gutter-width)) !default;
$container-xl: $container-extra-large-desktop !default;

@if($site-xl == true){
    @media (min-width: $screen-xl-min) {
        @include make-grid(xl);
    }
    .container {
        @media (min-width: $screen-xl-min) {
            width: $container-xl;
        }
    }
}