/** =========================================
 * Security
 ===========================================*/

#Security {
    background: $gray-lighter;
    .form-container {
        background: $brand-default;
        padding: $gap-lg;
        margin: ($gutter / 2) 0;
        @media(min-width: $screen-sm-min) {
            padding: $gap-xl;
            margin: $gap-xl 0;
        }
        .logo {
            text-align: center;
            margin: 0 0 $gap-lg 0;
            @media(min-width: $screen-sm-min) {
                margin: 0 0 $gap-xl 0;
            }
            .heading {
                margin: 0;
            }
        }
        #ForgotPassword {
            margin-bottom: 0;
        }
        .Actions {
            margin: $gap-md 0 0 0;
        }
    }
}