/** =========================================
 * Popout Menu
 ===========================================*/

$popout-item-size:          40px !default;
$popout-menu-background:    $brand-default !default;
$popout-menu-color:         $brand-default-color !default;
$popout-btn-background:     $brand-inverse !default;
$popout-btn-color:          $brand-inverse-color !default;