/*---------------------------------------------*\
    Alerts
\*---------------------------------------------*/

/**
 * Alerts have many &.classes due to supporting SS default messages.
 */
.alert,
%alert {
    display: block;
    padding: $gap-md;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        margin-top: 0;
    }
    a {
        text-decoration: underline
    }
    p{
        &:last-child{
            margin-bottom: 0;
        }
    }
    &.alert-success,
    &.success,
    &.good {
        @include alert-variant($alert-success-bg, shade($alert-success-border, 15), $alert-success-text);
        a {
            color: $alert-success-text
        }
    }
    &.alert-info,
    &.notice {
        /**
         * Use an extension so that the .message class can be set as info by default.
         */
        @extend %alert-info;
    }
    &.alert-warning,
    &.warning {
        @include alert-variant($alert-warning-bg, shade($alert-warning-border, 15), $alert-warning-text);
        a {
            color: $alert-warning-text
        }
    }
    &.alert-danger,
    &.required,
    &.validation,
    &.bad,
    &.error {
        @include alert-variant($alert-danger-bg, shade($alert-danger-border, 15), $alert-danger-text);
        a {
            color: $alert-danger-text
        }
    }
    .error-list {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0;
        }
    }
}

%alert-info {
    @include alert-variant($alert-info-bg, shade($alert-info-border, 15), $alert-info-text);
    a {
        color: $alert-info-text
    }
}