/** =========================================
 * Alerts
 ===========================================*/

/** -----------------------------------------
 * Base
 * TODO: Use @extend when sass supports handling #{&}
 -------------------------------------------*/

@mixin alert() {
    display: block;
    padding: $gap-md;
    border-radius: $border-radius-small;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: 0 0 $gap-md 0;
    border: 1px solid;
    @media(min-width: $screen-sm-min) {
        margin: 0 0 $gap-lg 0;
    }
}

%alert {
    @include alert;
}

/** -----------------------------------------
 * Block
 -------------------------------------------*/

.alert {
    @extend %alert;
    &--info {
        @extend %alert;
        background: $alert-info-bg;
        border-color: $alert-info-border;
        color: $alert-info-text;
    }
    &--warning {
        @extend %alert;
        background: $alert-warning-bg;
        border-color: $alert-warning-border;
        color: $alert-warning-text;
    }
    &--success {
        @extend %alert;
        background: $alert-success-bg;
        border-color: $alert-success-border;
        color: $alert-success-text;
    }
    &--danger {
        @extend %alert;
        background: $alert-danger-bg;
        border-color: $alert-danger-border;
        color: $alert-danger-text;
    }
}