/** =========================================
 * Animation
 ===========================================*/

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    &.infinite {
        animation-iteration-count: infinite;
    }
    .cssanimations & {
        @media(min-width: $screen-sm-min) {
            opacity: 0;
        }
    }
}

/** -----------------------------------------
 * Fade - Entrance
 -------------------------------------------*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    @media(min-width: $screen-sm-min) {
        animation-name: fadeIn;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-$animation-distance, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeft {
    @media(min-width: $screen-sm-min) {
        animation-name: fadeInLeft;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d($animation-distance, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInRight {
    @media(min-width: $screen-sm-min) {
        animation-name: fadeInRight;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -$animation-distance, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    @media(min-width: $screen-sm-min) {
        animation-name: fadeInDown;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, $animation-distance, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    @media(min-width: $screen-sm-min) {
        animation-name: fadeInUp;
    }
}