/** =========================================
 * Buttons
 ===========================================*/

/** -----------------------------------------
 * Mixins
 -------------------------------------------*/

@mixin btn() {
    display: inline-block;
    text-transform: uppercase;
    border-radius: $border-radius-small;
    padding: $padding-base-vertical $padding-base-horizontal;
    white-space: normal;
    border-width: 0;
    &:focus,
    &:active {
        outline: 0;
        box-shadow: none;
    }
    &:active {
        background-image: none;
    }
}

@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;
    &:hover,
    &:focus,
    &.focus,
    &:active {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: $background;
            border-color: $border;
        }
    }
}

@mixin button-bordered($color) {
    border-color: $color;
    color: $color;
    &:hover,
    &:active,
    &:focus {
        color: $color;
        border-color: $color;
    }
}

/** -----------------------------------------
 * Base Extension
 -------------------------------------------*/

%btn {
    @include btn;
}

/** -----------------------------------------
 * Block
 -------------------------------------------*/

.btn {
    @extend %btn;
    @at-root #{&}--default {
        @extend %btn;
        @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
    }
    @at-root #{&}--primary {
        @extend %btn;
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
    @at-root #{&}--secondary {
        @extend %btn;
        @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
    }
    @at-root #{&}--inverse {
        @extend %btn;
        @include button-variant($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border);
    }

    /** -----------------------------------------
     * Full Width
    -------------------------------------------*/

    @at-root #{&}--block {
        display: block;
        width: 100%;
    }

    /** -----------------------------------------
     * Bordered
    -------------------------------------------*/

    @at-root #{&}--bordered {
        background: transparent none;
        border-width: 2px;
        border-style: solid;
        transition: $transition-default color, $transition-default border-color;
        &:hover,
        &:focus,
        &:active {
            background: transparent none;
        }
        // TODO: Reference top level parent, instead of implicitly setting .btn
        &.btn--default {
            @include button-bordered($brand-default);
        }
        &.btn--primary {
            @include button-bordered($brand-primary);
        }
        &.btn--secondary {
            @include button-bordered($brand-primary);
        }
        &.btn--inverse {
            @include button-bordered($brand-primary);
        }
    }

}