/** =========================================
 * Buttons
 ===========================================*/

@mixin btn-static() {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: $border-radius-small;
    padding: $padding-base-vertical $padding-base-horizontal;
    white-space: normal;
    border-width: 0;
    &:focus,
    &:active {
        outline: 0;
        box-shadow: none;
    }
}
.btn {
    @include btn-static;
}
.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-secondary {
    @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}
.btn-inverse {
    @include button-variant($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border);
}

/** -----------------------------------------
 * Block
 -------------------------------------------*/

.btn-block {
    display: block;
    width: 100%;
}

/** -----------------------------------------
 * Link
 -------------------------------------------*/

.btn-link {
    background: transparent none;
    text-decoration: none;
    transition: $transition-default color;
    &:hover {
        background: transparent none;
        text-decoration: none;
    }
    &:active,
    &:focus {
        text-decoration: none;
        background: $gray-lighter;
    }
    &.btn-default {
        @include button-link($brand-default-color);
    }
    &.btn-primary {
        @include button-link($brand-primary);
    }
    &.btn-secondary {
        @include button-link($brand-secondary);
    }
    &.btn-inverse {
        @include button-link($brand-inverse);
    }
    &.btn-success {
        @include button-link($brand-success);
    }
    &.btn-info {
        @include button-link($brand-info);
    }
    &.btn-warning {
        @include button-link($brand-warning);
    }
    &.btn-danger {
        @include button-link($brand-danger);
    }
}

/** -----------------------------------------
 * Bordered
 -------------------------------------------*/

.btn-bordered {
    background: transparent none;
    border-width: 2px;
    border-style: solid;
    transition: $transition-default color, $transition-default border-color;
    &:hover,
    &:focus,
    &:active {
        background: transparent none;
    }
    &.btn-default {
        @include button-bordered($brand-default);
    }
    &.btn-primary {
        @include button-bordered($brand-primary);
    }
    &.btn-secondary {
        @include button-bordered($brand-secondary);
    }
    &.btn-inverse {
        @include button-bordered($brand-inverse);
    }
    &.btn-success {
        @include button-bordered($brand-success);
    }
    &.btn-info {
        @include button-bordered($brand-info);
    }
    &.btn-warning {
        @include button-bordered($brand-warning);
    }
    &.btn-danger {
        @include button-bordered($brand-danger);
    }
}