/** =========================================
 * Carousel
 ===========================================*/
@import "../../../components/lib/owl.carousel/src/scss/owl.animate.scss";
@import "../../../components/lib/owl.carousel/src/scss/owl.autoheight.scss";
@import "../../../components/lib/owl.carousel/src/scss/owl.carousel.scss";
//@import "../../../components/lib/owl.carousel/src/scss/owl.lazyload.scss";
//@import "../../../components/lib/owl.carousel/src/scss/owl.theme.default.scss";
//@import "../../../components/lib/owl.carousel/src/scss/owl.theme.green.scss";
//@import "../../../components/lib/owl.carousel/src/scss/owl.video.scss";

.carousel-container {
    position: relative;
    @include margin-lg-bottom;
}

.carousel {
    overflow: hidden;
    &--single {
        display: block;
    }
    /**
     * If the browser supports CSS transformations then use translate to center the caption.
     */
    .csstransforms3d & {
        .carousel__item__caption {
            @include media-sm {
                top: 50%;
                transform: translate(0, -50%);
            }
        }
    }
    &__item {
        position: relative;
        @media (max-width: $screen-xs-max) {
            max-height: none !important; // Remove the style attribute set in the cms.
        }
        img {
            width: 100%;
        }
        &__caption {
            position: absolute;
            top: 20%;
            right: $gutter / 2;
            left: $gutter / 2;
            margin: 0 auto;
            @include media-sm {
                width: $container-sm - $gutter;
            }
            @include media-md {
                top: 30%;
                width: $container-md - $gutter;
            }
            @include media-lg {
                width: $container-lg - $gutter;
            }
            &.typography {
                color: $brand-inverse-color;
                text-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
                h2,
                h3,
                h4 {
                    color: $brand-inverse-color;
                }
            }
        }
    }
}

.carousel-navigation {
    display: none;
    height: $carousel-icon-size + ($gap-sm * 2);
    padding: 0;
    position: relative;
    background: $brand-inverse;
    z-index: 1;
    @media(min-width: $screen-sm-min) {
        background: transparent none;
        height: $carousel-icon-size * 2;
        margin-top: -($carousel-icon-size);
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }
    /** Display navigation after load. */
    .carousel--multiple.owl-loaded + & {
        display: block;
    }
    .csstransforms3d & {
        @include media-sm {
            margin-top: 0;
            transform: translate(0, -50%);
        }
    }
    &__item {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        background: transparent none;
        padding: $gap-sm;
        @include media-sm {
            padding: 0;
        }
        &:hover,
        &:active {
            background: transparent none;
        }
        &--next {
            right: 0;
            left: auto;
        }
        &__icon {
            height: $carousel-icon-size;
            width: $carousel-icon-size;
            user-select: none;
            @include media-sm {
                height: $carousel-icon-size * 2;
                width: $carousel-icon-size * 2;
            }
            path {
                fill: $brand-inverse-color;
            }
        }
    }
}
