/*---------------------------------------------*\
    Carousel
\*---------------------------------------------*/

$carousel-icon-size: 50px;

/**
 * Prev / Next
 */
.owl-controls {
    height: $carousel-icon-size;
    display: none;
    margin: (-$carousel-icon-size / 2) 0 0 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    @media(min-width: $screen-sm-min) {
        display: block;
    }
    .owl-prev,
    .owl-next {
        text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
        color: $brand-inverse-color;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        background: transparent none;
        font-size: $carousel-icon-size;
        line-height: $carousel-icon-size;
        margin: 0 0 0 0.5em;
        &:hover,
        &:active {
            background: transparent none;
        }
    }
    .owl-next {
        right: 0;
        left: auto;
        margin: 0 0.5em 0 0;
    }
}