/** =========================================
 * Carousel
 ===========================================*/

@import "../../components/lib/owl.carousel/dist/assets/owl.carousel.min.css";

.carousel-container {
    position: relative;
    @include margin-lg-bottom;
}

.carousel {
    /**
     * If the browser supports CSS transformations then use translate to center the caption.
     */
    .csstransforms3d & {
        .carousel__item__caption {
            @media (min-width: $screen-sm-min) {
                top: 50%;
                transform: translate(0, -50%);
            }
        }
    }
    &__item {
        position: relative;
        @media (max-width: $screen-sm-max) {
            max-height: none !important; // Remove the style attribute set in the cms.
        }
        img {
            width: 100%;
        }
        &__caption{
            position: absolute;
            top: 20%;
            right: $gutter / 2;
            left: $gutter / 2;
            margin: 0 auto;
            @media (min-width: $screen-sm-min) {
                width: $container-sm - $gutter;
            }
            @media (min-width: $screen-md-min) {
                top: 30%;
                width: $container-md - $gutter;
            }
            @media (min-width: $screen-lg-min) {
                width: $container-lg - $gutter;
            }
            &.typography {
                color: $brand-inverse-color;
                text-shadow: 0 0 7px rgba(0,0,0,0.7);
                h2,
                h3,
                h4 {
                    color: $brand-inverse-color;
                }
            }
        }
    }
}

.carousel-navigation {
    display: none;
    height: $carousel-icon-size + ($gap-sm * 2);
    padding: 0;
    position: relative;
    background: $brand-inverse;
    z-index: 1;
    @media(min-width: $screen-sm-min) {
        background: transparent none;
        height: $carousel-icon-size * 2;
        margin-top: -($carousel-icon-size);
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }
    /** Display navigation after load. */
    .owl-loaded + & {
        display: block;
    }
    .csstransforms3d & {
        @media (min-width: $screen-sm-min) {
            margin-top: 0;
            transform: translate(0, -50%);
        }
    }
    &__item {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        background: transparent none;
        padding: $gap-sm;
        @media(min-width: $screen-sm-min) {
            padding: 0;
        }
        &:hover,
        &:active {
            background: transparent none;
        }
        &--next {
            right: 0;
            left: auto;
        }
        &__icon {
            height: $carousel-icon-size;
            width: $carousel-icon-size;
            filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.2));
            user-select: none;
            @media(min-width: $screen-sm-min) {
                height: $carousel-icon-size * 2;
                width: $carousel-icon-size * 2;
            }
            path {
                fill: $brand-inverse-color;
            }
        }
    }
}