/** =========================================
 * Debug
 ===========================================*/

body {
    > p {
        &.message {
            &.warning {
                padding: 0;
                margin: 0;
                background: transparent none;
                color: $font-base-color;
                border: 0;
                box-shadow: none;
                border-bottom: 1px solid $gray;
            }
        }
    }
}