/*!
======================================================================
    Forms
======================================================================
*/

$radio-size: 20px;

.form {
    @include margin-default();
}

/*---------------------------------------------*\
    Inputs
\*---------------------------------------------*/

textarea {
    resize: vertical;
}
form {
    .field{
        &.form-control {
            @include form-control-static;
            .form-control {
                &.text,
                &.textarea {
                    @include input-static;
                }
                &.input-sm {
                    padding: $gap-xs;
                }
                &.readonly {
                    border-width: 0;
                    height: auto;
                    padding: 0;
                }
            }
        }
        &.confirmedpassword {
            @include form-control-static;
            margin-bottom: 0;
            input.password{
                @include input-static;
                margin-bottom: $gap-md;
            }
        }
        &.creditcard {
            input{
                @include input-static;
                width: auto;
                display: inline-block;
            }
        }
        &.phonenumber {
            input{
                @include input-static;
            }
        }
        &.file {
            input {
                border-width: 0;
                padding: 0;
                height: auto;
                box-shadow: none;
                &:focus {
                    outline: 0;
                }
            }
        }
    }
    input:focus, textarea:focus, .form-control:focus {
        box-shadow: none;
    }
    .form-control {
        margin-bottom: $gap-md;
    }
    .holder-required {
        input, input:focus, textarea, textarea:focus {
            border-color: $btn-danger-border;
        }
    }
}
fieldset {
    margin: 0;
    padding: 0;
    border-width: 0;
}
label {
    font-weight: normal;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-left: 0;
}

.recaptcha {
    @include margin-default();
}

/*---------------------------------------------*\
    Messages
\*---------------------------------------------*/

.message {
    @include alert-variant($alert-info-bg, shade($alert-info-border, 15), $alert-info-text);
    a {
        color: $alert-info-text
    }
}

/*---------------------------------------------*\
    Search
\*---------------------------------------------*/

#SearchForm_SearchForm {
    .form-group {
        margin: 0;
    }
    .modal-footer {
        margin: 0;
    }
}

/*---------------------------------------------*\
    Forgot Password
\*---------------------------------------------*/

#MemberLoginForm_LoginForm {
    #ForgotPassword {
        margin-top: $gap-sm
    }
}

/*---------------------------------------------*\
    Login / Lost Password
\*---------------------------------------------*/

#MemberLoginForm_LoginForm,
#MemberLoginForm_LostPasswordForm {
    .text {
        @include form-control-static;
        input {
            @include input-static;
            margin-bottom: $gap-md;
        }
    }
    .action {
        @include btn-static;
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
}

/*---------------------------------------------*\
    ParsleyJS - Validation
\*---------------------------------------------*/

.parsley-errors-list {
    padding: 0;
    margin: 0;
    li {
        @include alert-variant($alert-danger-bg, shade($alert-danger-border, 15), $alert-danger-text);
        a {
            color: $alert-danger-text
        }
    }
}