/*!
======================================================================
    Forms
======================================================================
*/

$radio-size: 20px;

.form {
    @include margin-default();
}

/*---------------------------------------------*\
    Inputs
\*---------------------------------------------*/

%form-control-static {
    color: $font-base-color;
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    line-height: inherit;
    background: transparent none;
    border-width: 0;
    box-shadow: none;
    border-radius: 0;
    transition: none;
}
%input-static {
    color: $font-base-color;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: $gap-md;
    height: auto;
    box-shadow: none;
    border-radius: $border-radius-base;
    &:focus {
        outline: 0;
        border-color: $brand-primary;
        box-shadow: none;
    }
}
textarea {
    resize: vertical;
}
form {
    .field{
        &.form-control {
            @extend %form-control-static;
            .form-control {
                &.text,
                &.textarea {
                    @extend %input-static;
                }
                &.input-sm {
                    padding: $gap-xs;
                }
                &.readonly {
                    border-width: 0;
                    height: auto;
                    padding: 0;
                }
            }
        }
        &.confirmedpassword {
            @extend %form-control-static;
            margin-bottom: 0;
            input.password{
                @extend %input-static;
                margin-bottom: $gap-md;
            }
        }
        &.creditcard {
            input{
                @extend %input-static;
                width: auto;
                display: inline-block;
            }
        }
        &.phonenumber {
            input{
                @extend %input-static;
            }
        }
        &.file {
            input {
                border-width: 0;
                padding: 0;
                height: auto;
                box-shadow: none;
                &:focus {
                    outline: 0;
                }
            }
        }
    }
    input:focus, textarea:focus, .form-control:focus {
        box-shadow: none;
    }
    .form-control {
        margin-bottom: $gap-md;
    }
    .holder-required {
        input, input:focus, textarea, textarea:focus {
            border-color: $btn-danger-border;
        }
    }
}
fieldset {
    margin: 0;
    padding: 0;
    border-width: 0;
}
label {
    font-weight: normal;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-left: 0;
}

.recaptcha {
    @include margin-default();
}

/*---------------------------------------------*\
    Messages
\*---------------------------------------------*/

.message {
    @extend %alert;
    @extend %alert-info;
}

/*---------------------------------------------*\
    Search
\*---------------------------------------------*/

#SearchForm_SearchForm {
    .form-group {
        margin: 0;
    }
    .modal-footer {
        margin: 0;
    }
}

/*---------------------------------------------*\
    Forgot Password
\*---------------------------------------------*/

#MemberLoginForm_LoginForm {
    #ForgotPassword {
        margin-top: $gap-sm
    }
}

/*---------------------------------------------*\
    Login / Lost Password
\*---------------------------------------------*/

#MemberLoginForm_LoginForm,
#MemberLoginForm_LostPasswordForm {
    .text {
        @extend %form-control-static;
        input {
            @extend %input-static;
            margin-bottom: $gap-md;
        }
    }
    .action {
        @extend .btn;
        @extend .btn-primary;
    }
}