/*!
======================================================================
    Forms
======================================================================
*/

.form {
    @include margin-default;
}

/** -----------------------------------------
 * Fieldset
 -------------------------------------------*/

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}

/** -----------------------------------------
 * Label
 -------------------------------------------*/

label {
    display: inline-block;
    max-width: 100%;
    margin: 0 0 $gap-xs 0;
}

/** =========================================
 * Fields
 ===========================================*/

@mixin form-control() {
    display: block;
    width: 100%;
    height: ($line-height-computed + ($padding-base-vertical * 2) + 2px);
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $brand-default-color;
    background-color: $brand-default;
    background-image: none;
    border: 1px solid $brand-default-darker;
    border-radius: $border-radius-small;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: $brand-default-dark;
        opacity: 1;
    }
    &[disabled],
    fieldset[disabled] & {
        cursor: $cursor-disabled;
    }
}

.form {
    .field {
        margin: 0 0 $gap-md 0;
        .text,
        .textarea,
        .dropdown {
            @include form-control;
        }
        .textarea {
            height: auto;
        }
    }
}

.form {
    .field {
        &.confirmedpassword {
            > .middleColumn {
                > .field {
                    height: auto;
                    padding: 0;
                    border-width: 0;
                }
            }
        }
    }
}

/** -----------------------------------------
 * Radio / Checkbox
 -------------------------------------------*/

.form {
    .field {
        &.radio,
        &.checkbox {
            position: relative;
            display: block;
            ul {
                margin: 0;
                padding: 0;
                li {
                    margin: 0;
                    display: block;
                }
            }
            &.disabled,
            fieldset[disabled] & {
                label {
                    cursor: $cursor-disabled;
                }
            }
            label {
                font-weight: normal;
                cursor: pointer;
            }
            input[type="radio"],
            input[type="checkbox"] {
                &[disabled],
                &.disabled,
                fieldset[disabled] & {
                    cursor: $cursor-disabled;
                }
            }
        }
    }
}

/** -----------------------------------------
 * ReCaptcha
 -------------------------------------------*/

.recaptcha {
    @include margin-default;
}

/*---------------------------------------------*\
    Messages
\*---------------------------------------------*/

.message {
    @include alert-variant($alert-info-bg, shade($alert-info-border, 15), $alert-info-text);
    a {
        color: $alert-info-text
    }
}

/** =========================================
 * Silverstripe Forms
 ===========================================*/

/*---------------------------------------------*\
    Forgot Password
\*---------------------------------------------*/

#MemberLoginForm_LoginForm {
    #ForgotPassword {
        margin: $gap-sm 0 0 0;
    }
}

/*---------------------------------------------*\
    Login / Lost Password / Change Password
\*---------------------------------------------*/

#MemberLoginForm_LoginForm,
#MemberLoginForm_LostPasswordForm,
#ChangePasswordForm_ChangePasswordForm {
    .field {
        margin: 0 0 $gap-md 0;
        .text{
            @include form-control;
        }
    }
    .action {
        @include btn-static;
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
}

/*---------------------------------------------*\
    ParsleyJS - Validation
\*---------------------------------------------*/

.parsley-errors-list {
    padding: 0;
    margin: $gap-sm 0 0 0;
    li {
        @include alert-variant($alert-danger-bg, shade($alert-danger-border, 15), $alert-danger-text);
        margin: 0;
        a {
            color: $alert-danger-text
        }
    }
}