/** =========================================
 * Grid
 ===========================================*/

/** -----------------------------------------
 * Mixins
 -------------------------------------------*/

@mixin row-size($size: $gutter) {
    margin: 0 -$size;
    > .item {
        padding: 0 $size;
        margin: 0 0 ($size * 2) 0;
    }
}

/** -----------------------------------------
 * Container
 -------------------------------------------*/

.container {
    @include container-fixed;

    @include media-sm {
        width: $container-sm;
    }
    @include media-md {
        width: $container-md;
    }
    @include media-lg {
        width: $container-lg;
    }
}

.container-fluid {
    @include container-fixed;
}


/** -----------------------------------------
 * Rows
 -------------------------------------------*/

.row {
    @include make-row;
}

.row {
    &#{&}--xs {
        @include row-size($gap-xs);
    }
    &#{&}--sm {
        @include row-size($gap-sm);
    }
    &#{&}--md {
        @include row-size($gap-md);
    }
    &#{&}--lg {
        @include row-size($gap-lg);
    }
    &#{&}--xl {
        @include row-size($gap-xl);
    }
}

/** -----------------------------------------
 * XL
 -------------------------------------------*/

@if ($site-xl == true) {
    @media (min-width: $screen-xl-min) {
        @include make-grid(xl);
    }
    .container {
        @include media-xl {
            width: $container-xl;
        }
    }
}
