/** =========================================
 * Header
 ===========================================*/

.header {
    @include margin-lg-bottom;
    @include padding-lg;
    margin-top: 0;
    position: relative;
    z-index: 2;
    font-size: 0;
    .has-slider & {
        @include margin-none;
    }
    @at-root #{&}__item {
        @include make-xs-column(6);
        @include make-sm-column(3);
        @include float-none;
        font-size: $font-size-base;
        display: inline-block;
        vertical-align: middle;
        @at-root #{&}--navigation {
            @include make-sm-column(9);
            @include float-none;
        }
        @at-root #{&}__heading {
            font-size: $font-size-h3;
            margin: 0;
            a {
                display: block;
            }
        }
    }
    .navigation {
        float: right;
    }
}