/** =========================================
 * Menu
 ===========================================*/

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    @include clearfix;
    &__item {
        position: relative;
        display: none;
        float: left;
        margin: 0;
        @include media-lg {
            display: inline-block;
        }
        &--dropdown {
            &:hover {
                .menu__item__dropdown-menu {
                    @include media-lg {
                        display: block;
                    }
                }
            }
        }
        &--icon {
            display: block;
            @include media-lg {
                display: none;
            }
        }
        &--close {
            @include media-lg {
                display: block;
            }
        }
        &.is-last {
            .navigation__item__dropdown-menu {
                left: auto;
                right: 0;
            }
        }
        &__link {
            font-size: $navigation-font-size;
            padding: 0.75em 1.5em;
            display: block;
        }
        &__dropdown-menu {
            position: absolute;
            font-size: $navigation-font-size;
            box-shadow: none;
            margin-top: 0;
            padding: 0;
            left: 0;
            min-width: 160px;
            right: auto;
            border-width: 0;
            background: transparent none;
            display: none;
            border-radius: 0;
            &__item {
                display: block;
                float: none;
                margin: 0;
                &__link {
                    display: block;
                    margin: 0;
                    padding: 0.75em 1.5em;
                    background: $brand-default;
                    color: $brand-default-color;
                }
            }
        }
        &__icon {
            display: block;
            margin: 0 $gap-md;
            background: transparent none;
            padding: 0;
            border-width: 0;
            text-align: center;
            &--phone {
                display: none;
                @media(max-width: $screen-xs-max) {
                    display: block;
                }
            }
            &--menu {
                margin: 0 0 0 $gap-sm;
            }
            &__icon {
                $icon-size: 40px;
                height: $icon-size;
                width: $icon-size;
                color: $font-base-color;
                font-size: $font-size-h1;
                display: inline-block;
                fill: $font-base-color;
            }
            &__text {
                color: $font-base-color;
                text-transform: uppercase;
                font-size: $font-size-xs;
                display: block;
            }
        }
    }
}
