/** =========================================
 * Messages
 ===========================================*/

.message {
    @extend %alert;
    &.success,
    &.good {
        background: $alert-success-bg;
        border-color: $alert-success-border;
        color: $alert-success-text;
    }
    &.notice {
        background: $alert-info-bg;
        border-color: $alert-info-border;
        color: $alert-info-text;
    }
    &.warning {
        background: $alert-warning-bg;
        border-color: $alert-warning-border;
        color: $alert-warning-text;
    }
    &.required,
    &.validation,
    &.bad,
    &.error {
        background: $alert-danger-bg;
        border-color: $alert-danger-border;
        color: $alert-danger-text;
    }
    &.success,
    &.good,
    &.notice,
    &.warning,
    &.required,
    &.validation,
    &.bad,
    &.error {
        @include margin-none;
    }
    .error-list {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0;
        }
    }
}