/** =========================================
 * Navigation
 ===========================================*/

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
        margin: $gap-sm 0;
        &.is-current {
            a {
                color: $gray-dark;
                &:hover {
                    color: $gray-dark;
                }
            }
        }
    }
}
