/*---------------------------------------------*\
    Navigation
\*---------------------------------------------*/

.navbar {
    margin-bottom: -$gap-xs;
    background: transparent none;
    border-width: 0;
    padding: 0;
    display: block;
    width: 100%;
    min-height: $gap-lg;
    font-size: $navigation-font-size;
    .nav {
        li{
            margin: 0;
        }
        > li {
            /**
             * Active, and Ancestor menu styling.
             */
            &.section, &.current {
                > a {

                }
            }
            &:hover{
                > .dropdown-menu{
                    @media (min-width: $screen-lg-min) {
                        display: block;
                    }
                }
            }
            /**
             * Align the sub-menu to the right if it's the last menu item in the loop.
             */
            &.last {
                .dropdown-menu {
                    left: auto;
                    right: 0;
                }
            }
            > a {
                margin-left: 2px;
                margin-bottom: $gap-xs;
                @include border-radius();
            }
            .dropdown-menu {
                font-size: $navigation-font-size;
                box-shadow: none;
                margin-top: 0;
                padding: 0;
                left: 0;
                right: auto;
                border-width: 0;
                background: transparent none;
                display: none;
                border-radius: 0;
                > li {
                    > a {
                        padding: 0.75em 1.5em;
                        background: $brand-default;
                        color: $brand-default-color;
                    }
                }
            }
        }
    }
}
.select-overlay {
    border-top-width: 0;
    min-height: $gap-lg;
    position: relative;
    select {
        width: $popout-item-size;
        height: $popout-item-size;
        z-index: 2;
        border: 0;
        position: absolute;
        top: 50%;
        right:0;
        margin-top: -($popout-item-size / 2);
        background: none transparent;
        -webkit-appearance: none;
        opacity: 0;
        padding:0;
    }
    .menu-icon {
        background: transparent none;
        padding: 0;
        border-width: 0;
        position: absolute;
        font-size: ($popout-item-size / 2);
        right: 0;
        top: 50%;
        margin-top: -($popout-item-size / 2);
        height: $popout-item-size;
        text-align: center;
        line-height: $popout-item-size;
        @include border-radius();
        .text {
            text-transform: uppercase;
            font-size: $font-size-base;
            margin: 0 $gap-sm 0 0;
            line-height: $popout-item-size;
            display: inline-block;
        }
        i {
            float: right;
            line-height: $popout-item-size;
        }
        &.search {
            right: $popout-item-size + $gap-sm;
        }
    }
}