/** =========================================
 * Page
 ===========================================*/

.page {
    @include margin-lg;
    .has-slider & {
        @include margin-lg-bottom;
    }
    &__content {
        @include make-xs-column(12);
        &.has-sidebar {
            @include make-sm-column(8);
            @include make-lg-column(9);
            @include media-sm {
                float: right;
            }
            @include media-lg {
                float: right;
            }
        }
        &__heading {
            display: none;
        }
    }
}
