/** =========================================
 * Page
 ===========================================*/

.page {
    @include margin-lg;
    .has-slider & {
        @include margin-lg-bottom;
    }
    &__content {
        @include make-xs-column(12);
        &.has-sidebar {
            @include make-sm-column(8);
            @include make-lg-column(9);
            @media(min-width: $screen-sm-min) {
                float: right;
            }
            @media(min-width: $screen-lg-min) {
                float: right;
            }
        }
        &__heading {
            display: none;
        }
        &__map {
            background: #e5e3df;
            @include margin;
            width: 100%;
            display: block;
            height: 300px;
            img {
                max-width: none;
            }
        }
    }
}