/** =========================================
 * Previous/Next Page
 ===========================================*/

.previous-next {
    @include clearfix;
    @include margin;
    &__item {
        @include make-xs-column(6, 0);
        &--next {
            text-align: right;
        }
        &__link {
            &__icon {
                height: 1em;
                fill: $link-color;
            }
        }
    }
}
