/** =========================================
 * Sharer
 ===========================================*/

.sharer {
    &__form {
        background: transparent none;
        height: auto;
        border-width: 0;
        width: 100%;
        font-size: $font-size-large;
        @include margin;
    }
    &__list {
        text-align: center;
        @include margin;
        &__item {
            display: inline-block;
            list-style: none;
            padding-right: $gap-lg;
            &--last {
                padding-right: 0;
            }
            &__link {
                font-size: $font-size-h2;
                @media(min-width: $screen-sm-min) {
                    font-size: $font-size-h1;
                }
            }
        }
    }
}