/** =========================================
 * Sidebar
 ===========================================*/

.sidebar {
    margin: 0 0 $gap-md 0;
    font-size: $sidebar-font-size;
    .navigation {
        ul {
            margin: 0;
            padding:0;
            li {
                list-style: none;
                .heading {
                    margin-top: 0;
                }
                a {
                    color: $link-color;
                    display: block;
                    padding: $gap-xs 0;
                }
                a:hover {
                    color: $link-hover-color;
                    text-decoration: none;
                }
                .current,
                .current:hover {
                    color: $gray-dark;
                }
            }
        }
    }
}