/*---------------------------------------------*\
    Blog
\*---------------------------------------------*/

.blog.loop{
    .item {}
}
.blog.page {}
.sharer {
    input {
        background: transparent none;
        height: auto;
        border-width: 0;
        border-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        font-size: $font-size-h3;
        &:focus{
            outline: 0;
        }
    }
    ul {
        text-align: center;
        margin: 0;
        li {
            display: inline-block;
            list-style: none;
            padding-right: $gap-lg;
            &.last {
                padding-right: 0;
            }
        }
        a {
            font-size: $font-size-h1;
        }
    }
}
#disqusComments {
    @extend %margin-default;
}