/*---------------------------------------------*\
    Contact Form
\*---------------------------------------------*/

#map-canvas {
    width: 100%;
    display: block;
    height: 300px;
    img {
        max-width: none;
    }
}