/*---------------------------------------------*\
    Gallery
\*---------------------------------------------*/

.gallery.loop {
//    margin: 0 (-200px);
//    .owl-stage {
//        &.owl-grab {
//            .owl-item-active {
//                @media(min-width: $screen-sm-min) {
//                    opacity: 1;
//                    transform: scale(1);
//                }
//            }
//        }
//    }
//    .owl-item {
//        @media(min-width: $screen-sm-min) {
//            transform: scale(0.9);
//            opacity: 0.2;
//            transition: .2s linear opacity, .2s linear transform;
//        }
//        &.active {
//            @media(min-width: $screen-sm-min) {
//                opacity: 1;
//                transform: scale(1);
//            }
//        }
//    }
    .item {
        display: block;
        &:hover {
            cursor: -webkit-grab;
            cursor: -moz-grab;
        }
        &:active {
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
        }
    }
    /**
     * Prev / Next
     */
    .owl-controls {
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        @media(min-width: $screen-sm-min) {
            display: block;
        }
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 0;
            left: 0;
//            left: 200px;
            padding: 0;
            background: transparent none;
            font-size: 50px;
            line-height: 1em;
            margin: (-0.5em) 0 0 0.5em;
            &:hover,
            &:active {
                background: transparent none;
            }
        }
        .owl-next {
            right: 0;
//            right: 200px;
            left: auto;
            margin: (-0.5em) 0.5em 0 0;
        }
    }
}