/*---------------------------------------------*\
    Gallery
\*---------------------------------------------*/

.gallery.loop {
    .item {
        display: block;
        &:hover {
            cursor: -webkit-grab;
            cursor: -moz-grab;
        }
        &:active {
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
        }
    }
    /**
     * Prev / Next
     */
    .owl-controls {
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        @media(min-width: $screen-sm-min) {
            display: block;
        }
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            background: transparent none;
            font-size: 50px;
            line-height: 1em;
            margin: (-0.5em) 0 0 0.5em;
            &:hover,
            &:active {
                background: transparent none;
            }
        }
        .owl-next {
            right: 0;
            left: auto;
            margin: (-0.5em) 0.5em 0 0;
        }
    }
}