/** =========================================
 * Portfolio
 ===========================================*/

/** -----------------------------------------
 * holder
 -------------------------------------------*/

.loop--portfolio {
    .loop__item {
        @include make-sm-column(6);
    }
}

/** -----------------------------------------
 * Page
 -------------------------------------------*/

.loop--portfolio-images {
    .loop__item {
        @include clearfix;
        &.has-content {
            .loop__item__content {
                display: block;
            }
        }
        &.is-left,
        &.is-right {
            .loop__item__content {
                @include make-sm-column(3);
            }
            .loop__item__image {
                @include make-sm-column(9);
            }
        }
        &.is-right {
            .loop__item__content {
                @media(min-width: $screen-sm-min) {
                    float: right;
                }
            }
        }
        .loop__item__content {
            @include make-xs-column(12);
            display: none;
        }
        .loop__item__image {
            @include make-xs-column(12);
        }
    }
}