/** =========================================
 * Portfolio
 ===========================================*/

.portfolio.loop{
    .item {
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.portfolio.section {
    @include margin-none;
    @include padding-none;
    .caption-full,
    .caption-right {
        margin: $gap-md 0 0 0;
        @media (min-width: $screen-sm-min) {
            margin: 0;
        }
        p {
            &:last-child {
                margin: 0;
            }
        }
    }
    .caption-full {
        @media(min-width: $screen-sm-min) {
            margin: $gap-md 0 0 0;
        }
    }
}