/** =========================================
 * Shortcodes
 ===========================================*/

.pricing-table {
    .price {
        @include padding-default;
        background: $brand-secondary;
        color: $btn-secondary-color;
        text-align: center;
        .heading {
            font-weight: 300;
            margin: 0;
        }
        .amount {
            margin: $gap-md 0;
            font-weight: 600;
            font-size: 60px;
        }
    }
    .list {
        @include padding-default;
        background: $gray-lighter;
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin: 0;
                padding: $gap-md 0;
                border-top: 1px solid shade($gray-lighter, 10);
                &:first-child {
                    border-top-width: 0;
                }
            }
        }
        p {
            margin: 0;
        }
    }
}